.input-image {
    display: none;
}

.preview {
    height: 200px;
}

.image-center {
    text-align: center;
}

.detail-container {
    display: flex;
    flex-direction: column;
}

.detail-container>* {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}

span {
    padding-left: 20px;
}

.upload-button{
    margin-left: 20px;
}