.mat-column-number, .mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}

.mat-row.hovered {
  background: #eee;
}

.mat-row.highlighted {
  background: lightblue;
}

mat-cell.mat-cell, mat-header-cell.mat-header-cell {
  overflow: visible;
}

mat-sort-header-sorted {
  color: black;
}
