<div class='container-fluid'>
  <div class='row'>
    <div class='col-md-4' >
      <product-category (onChangeCategory)="onChangeCategory($event)"></product-category>
    </div>
    <div class='col-md-4'>
      <product-list [productCategoryNode]="productCategoryNode" (onChangeProduct)="onChangeProduct($event)"></product-list>
    </div>
    <div class='col-md-4'>
      <product-detail [productSelected]="productSelected" (onEditProduct)="onEditProduct()"></product-detail>
    </div>
  </div>
</div>